{% extends "blog/base.html" %}

{% block content %}
	{% for post in posts %}

	<!-- FROM CODE SNIPPET -->
	<!-- LINK: https://github.com/CoreyMSchafer/code_snippets/blob/master/Django_Blog/snippets/article.html -->

		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="#">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> <!-- https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
				</div>
				<h2><a class="article-title" href="#">{{ post.title }}</a></h2>
				<p class="article-content">{{ post.content }}</p>
			</div>
		</article>

	<!-- END OF CODE SNIPPET -->

	{% endfor %}
{% endblock %}